{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": "commonjs",
        "targets": {
          "chrome": 18
        }
      }
    ],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ]
}
