{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": "auto",

        "targets": {
          "chrome": 18
        },
        "debug": true
      }
    ],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ]
}
